{{- $limit := default 40 .Params.limit -}}

<div class="sidebar-box catagories-box mb-30">
  <h4>Catagories</h4>
  <ul class="text-center">
    {{ range first $limit .Site.Taxonomies.categories.ByCount }}
    <li>
      <a class="position-relative" href="{{ .Page.RelPermalink }}">
        {{ if .Page.Params.icon }}
        {{ partial "helper/icon" .Page.Params.icon }}
        {{else}}
        {{ .Page.Title }}
        {{end}}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">{{ .Count }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</div>