{{- $query := first 1 (where .Site.Pages "Layout" "==" "search") -}}
{{- if $query -}}
{{- $searchPage := index $query 0 -}}
<div class="sidebar-box search-form-box mb-30">
  <form action="{{ $searchPage.RelPermalink }}" class="search-form" {{ with .OutputFormats.Get "json"
    -}}data-json="{{ .Permalink }}" {{- end }}>
    <input type="text" name="keyword" required placeholder="Buscar...">
    <button type="submit" name="search">{{ partial "helper/icon" "fas fa-magnifying-glass" }}</button>
  </form>
</div>
{{- else -}}
{{- warnf "Search page not found. Create a page with layout: search." -}}
{{- end -}}