.contact-section {
	position: relative;
	z-index: 3;
}

.contact-section.cta-bg {
	clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
	z-index: 3;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.contact-section.cta-bg {
		clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
	}
}

@media (max-width: 767px) {
	.contact-section.cta-bg {
		clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
	}
}

.contact-section.cta-bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: var(--site-gradient);
}

.contact-section .contact-item-wrapper .contact-item {
	display: flex;
	border: 1px solid var(--site-color);
	border-radius: 10px;
	background: var(--bg-site-g);
	margin-bottom: 30px;
	padding: 20px 30px;
	transition: all 0.3s ease-out 0s;
}

.contact-section .contact-item-wrapper .contact-item:hover {
	box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
}

.contact-section .contact-item-wrapper .contact-item:hover .contact-icon {
	box-shadow: 0px 0px 30px rgba(46, 87, 217, 0.45);
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.contact-section .contact-item-wrapper .contact-item {
		padding: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.contact-section .contact-item-wrapper .contact-item {
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.contact-section .contact-item-wrapper .contact-item {
		flex-direction: column;
	}
}

.contact-section .contact-item-wrapper .contact-item .contact-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--site-gradient);
	color: #fff;
	transition: all 0.3s ease-out 0s;
}

.contact-section .contact-item-wrapper .contact-item .contact-content {
	margin-left: 25px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.contact-section .contact-item-wrapper .contact-item .contact-content {
		margin-left: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.contact-section .contact-item-wrapper .contact-item .contact-content {
		margin-left: 0px;
		margin-top: 20px;
	}
}

@media (max-width: 767px) {
	.contact-section .contact-item-wrapper .contact-item .contact-content {
		margin-left: 0px;
		margin-top: 20px;
	}
}

.contact-section .contact-item-wrapper .contact-item .contact-content h4 {
	font-size: 20px;
	color: var(--site-color);
	margin-bottom: 10px;
}

.comment-form-wrapper,
.contact-form-wrapper {
	padding: 50px 40px;
	background: var(--bg-site-g);
	margin-left: 0px;
	border-radius: 10px;
	transition: all 0.3s ease-out 0s;
}

.comment-form-wrapper:hover,
.contact-form-wrapper:hover {
	box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.comment-form-wrapper,
	.contact-form-wrapper {
		margin-left: 30px;
	}
}

.comment-form-wrapper .comment-form input,
.comment-form-wrapper .comment-form textarea,
.comment-form-wrapper .comment-form select,
.comment-form-wrapper .contact-form input,
.comment-form-wrapper .contact-form textarea,
.comment-form-wrapper .contact-form select,
.contact-form-wrapper .comment-form input,
.contact-form-wrapper .comment-form textarea,
.contact-form-wrapper .comment-form select,
.contact-form-wrapper .contact-form input,
.contact-form-wrapper .contact-form textarea,
.contact-form-wrapper .contact-form select {
	padding: 18px 25px;
	border-radius: 30px;
	border: 0px;
	background: var(--bg-site-2);
	margin-bottom: 25px;
	width: 100%;
	transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
	.comment-form-wrapper .comment-form input,
	.comment-form-wrapper .comment-form textarea,
	.comment-form-wrapper .contact-form input,
	.comment-form-wrapper .contact-form textarea,
	.contact-form-wrapper .comment-form input,
	.contact-form-wrapper .comment-form textarea,
	.contact-form-wrapper .contact-form input,
	.contact-form-wrapper .contact-form textarea {
		padding: 12px 25px;
	}
}

.comment-form-wrapper .comment-form input:focus,
.comment-form-wrapper .comment-form textarea:focus,
.comment-form-wrapper .contact-form input:focus,
.comment-form-wrapper .contact-form textarea:focus,
.contact-form-wrapper .comment-form input:focus,
.contact-form-wrapper .comment-form textarea:focus,
.contact-form-wrapper .contact-form input:focus,
.contact-form-wrapper .contact-form textarea:focus {
	border-color: var(--site-color);
}

.comment-form-wrapper .comment-form textarea,
.comment-form-wrapper .contact-form textarea,
.contact-form-wrapper .comment-form textarea,
.contact-form-wrapper .contact-form textarea {
	border-radius: 18px;
}

.comment-form-wrapper .comment-form .theme-btn,
.comment-form-wrapper .contact-form .theme-btn,
.contact-form-wrapper .comment-form .theme-btn,
.contact-form-wrapper .contact-form .theme-btn {
	font-weight: 500;
	padding: 18px 90px;
}

.page-banner-section {
	margin-top: 107px;
	background: var(--site-gradient);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.page-banner-section {
		margin-top: 94px;
	}
}

.page-banner-section .banner-content h2 {
	margin-bottom: 20px;
}

.page-banner-section .banner-content .page-breadcrumb nav ol {
	background: none;
	padding: 0;
}

.page-banner-section .banner-content .page-breadcrumb nav ol li {
	color: rgba(255, 255, 255, 0.7);
	font-size: 20px;
	font-weight: 500;
}

.page-banner-section .banner-content .page-breadcrumb nav ol li::before {
	color: #fff;
}

.page-banner-section .banner-content .page-breadcrumb nav ol li a {
	color: #fff;
}

.carousel-section-wrapper {
	position: relative;
	z-index: 3;
}

.carousel-section-wrapper .carousel-section {
	position: relative;
	z-index: 3;
}

.carousel-section-wrapper .carousel-section.clip-bg {
	clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 89%);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.carousel-section-wrapper .carousel-section.clip-bg {
		clip-path: polygon(0% 8%, 100% 2%, 100% 98%, 0 92%);
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-section-wrapper .carousel-section.clip-bg {
		clip-path: polygon(0% 8%, 100% 2%, 100% 98%, 0 92%);
	}
}

@media (max-width: 767px) {
	.carousel-section-wrapper .carousel-section.clip-bg {
		clip-path: polygon(0% 8%, 100% 2%, 100% 98%, 0 92%);
	}
}

.carousel-section-wrapper .carousel-section.clip-bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: var(--site-gradient);
}

.carousel-section-wrapper
	.carousel-section.carousel-item
	.carousel-content
	.section-title
	h2 {
	margin-bottom: 25px;
}

.carousel-section-wrapper
	.carousel-section.carousel-item
	.carousel-content
	.section-title
	p {
	margin-bottom: 40px;
}

.carousel-section-wrapper
	.carousel-section.carousel-item
	.carousel-content
	.border-btn {
	border-color: #fff;
	color: #fff;
}

.carousel-section-wrapper
	.carousel-section.carousel-item
	.carousel-content
	.border-btn:hover {
	background: rgba(255, 255, 255, 0.2);
}

.carousel-section-wrapper .carousel-control {
	background: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid var(--site-color);
	color: #fff;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	z-index: 99;
}

.carousel-section-wrapper .carousel-control:hover {
	background: var(--bg-site-g);
	color: var(--site-color);
}

.carousel-section-wrapper .carousel-control.carousel-control-next {
	left: auto;
	right: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-section-wrapper .carousel-control {
		top: auto;
		transform: translateY(0);
		bottom: 80px;
		margin: auto;
	}
	.carousel-section-wrapper .carousel-control.carousel-control-prev {
		left: 42%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.carousel-section-wrapper .carousel-control.carousel-control-next {
		left: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 767px) {
	.carousel-section-wrapper .carousel-control {
		top: auto;
		transform: translateY(0);
		bottom: 80px;
		margin: auto;
	}
	.carousel-section-wrapper .carousel-control.carousel-control-prev {
		left: 37%;
	}
	.carousel-section-wrapper .carousel-control.carousel-control-next {
		left: 23%;
	}
}

.carousel-section-wrapper .carousel-control span {
	background: none;
	width: auto;
	height: auto;
}

.map-section {
	margin-top: -130px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.map-section {
		margin-top: 130px;
	}
}

@media (max-width: 767px) {
	.map-section {
		margin-top: 130px;
	}
}

.accordion-style .single-accordion {
	border: 1px solid var(--site-color);
	border-radius: 5px;
}

.accordion-style .single-accordion .accordion-btn button {
	background: var(--bg-site-g);
	border: none;
	padding: 12px 30px;
	padding-right: 50px;
	font-weight: 500;
	border-radius: 5px;
	position: relative;
	width: 100%;
}

.accordion-style .single-accordion .accordion-btn button.collapsed::after {
	transform: rotate(180deg);
}

.accordion-style .single-accordion .accordion-content {
	padding: 20px 30px;
}

.accordion-style.theme-accordion .single-accordion .accordion-btn button {
	background: var(--site-gradient);
	color: #fff;
}

.accordion-style.theme-accordion
	.single-accordion
	.accordion-btn
	button::after {
	color: #fff;
}
