.pricing-section .pricing-btn ul {
	display: inline-flex;
	border: 1px solid var(--site-color);
	border-radius: 50px;
}

@media (max-width: 767px) {
	.pricing-section .pricing-btn ul {
		margin-bottom: 40px;
	}
}

.pricing-section .pricing-btn ul li.nav-item a {
	background: var(--bg-site-g);
	padding: 24px 35px;
	font-size: 16px;
	font-weight: 700;
	color: (--text-title);
	box-shadow: 0px 0px 47px rgba(161, 192, 255, 0.16);
}

@media (max-width: 767px) {
	.pricing-section .pricing-btn ul li.nav-item a {
		padding: 20px;
		font-size: 14px;
	}
}

.pricing-section .pricing-btn ul li.nav-item a.active {
	color: #fff;
	background: linear-gradient(
		to left,
		var(--site-color) 0%,
		rgba(255, 255, 255, 0.2) 50.39%,
		var(--site-color) 100%
	);
	background-size: 200%;
	transition: all 0.3s ease-out 0s;
}

.pricing-section .pricing-btn ul li.nav-item:first-child .nav-link {
	border-radius: 50px 0 0 50px;
}

@media (max-width: 767px) {
	.pricing-section .pricing-btn ul li.nav-item:first-child .nav-link {
		border-radius: 50px;
		padding: 20px 35px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.pricing-section .pricing-btn ul li.nav-item:first-child .nav-link {
		border-radius: 50px 0 0 50px;
		padding: 20px 30px;
	}
}

.pricing-section .pricing-btn ul li.nav-item:last-child .nav-link {
	border-radius: 0 50px 50px 0;
}

@media (max-width: 767px) {
	.pricing-section .pricing-btn ul li.nav-item:last-child .nav-link {
		border-radius: 50px;
		padding: 20px 35px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.pricing-section .pricing-btn ul li.nav-item:last-child .nav-link {
		border-radius: 0 50px 50px 0;
		padding: 20px 30px;
	}
}

.pricing-section .single-pricing {
	text-align: center;
	padding: 50px;
	border-radius: 10px;
	background: var(--bg-site-g);
	box-shadow: 0px 0px 47px rgba(161, 192, 255, 0.16);
	position: relative;
	z-index: 1;
}

.pricing-section .single-pricing h4 {
	margin-bottom: 25px;
	color: #6a7c92;
	font-weight: 600;
}

.pricing-section .single-pricing h3 {
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 40px;
}

.pricing-section .single-pricing ul {
	margin-bottom: 30px;
}

.pricing-section .single-pricing ul li {
	font-size: 16px;
	line-height: 40px;
}

.pricing-section .single-pricing a {
	margin-bottom: 20px;
}

.pricing-section .single-pricing a.border-btn:hover {
	background: var(--site-color);
	opacity: 0.8;
	color: #fff;
}

.pricing-section .single-pricing.active {
	transform: scale(1.15);
	z-index: 2;
}

.pricing-section .single-pricing.active h3 {
	color: var(--site-color);
}
