.process-section .process-img-wrapper {
	position: relative;
	z-index: 1;
}

.process-section .process-img-wrapper::before {
	content: '';
	position: absolute;
	left: -100px;
	bottom: -50px;
	width: 463px;
	height: 552px;
	border-radius: 10px 10px 231px 231px;
	background: linear-gradient(#f37da7 0%, #fed9b4 100%);
	opacity: 0.1;
}

.process-section .process-img-wrapper .process-img-top {
	margin-bottom: 20px;
	text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.process-section .process-img-wrapper .process-img-top {
		text-align: center;
	}
}

.process-section .process-img-wrapper .process-img-top .img-1 {
	border-radius: 275px 275px 0 0;
}

@media (max-width: 767px) {
	.process-section .process-img-wrapper .process-img-top .img-1 {
		width: 100%;
	}
}

.process-section .process-img-wrapper .process-img-bottom {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.process-section .process-img-wrapper .process-img-bottom {
		justify-content: center;
	}
}

.process-section .process-img-wrapper .process-img-bottom .img-2 {
	border-radius: 10px;
	margin-right: 20px;
	vertical-align: top;
}

.process-section .process-img-wrapper .process-img-bottom .img-3 {
	border-radius: 0 0 250px 250px;
}
