<section class="client-logo-section pt-100">
  <div class="container">
    <h1 class="text-center fsite-title">{{ .Site.Params.friendsSite.title }}</h1>
    <div class="client-logo-wrapper">
      <div class="tns-outer" id="tns1-ow">
        <div id="tns1-mw" class="tns-ovh">
          <div class="tns-inner" id="tns1-iw">
            <div
              class="client-logo-carousel d-flex align-items-center justify-content-between tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
              id="tns1" style="transform: translate3d(-57.1429%, 0px, 0px); transition-duration: 0s;">

              {{ range .Site.Params.friendsSite.main }}
              <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                <a href="{{ .url }}" target="_blank" rel="noopener" aria-label="{{ .name }}">
                  <img class="img-fluid client-logo-img" src="{{ .image }}" alt="{{ .name }}" title="{{ .name }}">
                </a>
              </div>
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  tns({
    container: '.client-logo-carousel',
    autoplay: true,
    autoplayButtonOutput: false,
    mouseDrag: true,
    gutter: 15,
    nav: false,
    controls: false,
    responsive: {
      0: {
        items: 1,
      },
      540: {
        items: 2,
      },
      768: {
        items: 3,
      },
      992: {
        items: 4,
      },
    },
  });
</script>