<section id="team" class="team-section img-bg pt-130">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-7 mx-auto">
        <div class="section-title text-center mb-60">
          <h2 class="wow fadeInUp" data-wow-delay=".4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            {{ .Site.Params.team.title }}
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s"
            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            {{ .Site.Params.team.description }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">

      {{ range .Site.Params.team.members }}
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-team text-center mb-40 wow fadeInUp" data-wow-delay=".2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <div class="team-img">
            {{ with resources.GetRemote .image }}
            {{ $thumb := .Resize "426x" }}
            <img src="{{ $thumb.Permalink }}" alt="{{ .Title }}" title="{{ .Title }}" aria-label="{{ .Title }}"
              loading="lazy" />
            {{end}}
          </div>
          <div class="team-info">
            <h4>{{ .name }}</h4>
            <span>{{ .role }}</span>
          </div>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</section>