#search-form {
	width: 100%;
}

.search-btn {
	margin: 0px;
}

.modal-content {
	border-radius: var(--site-radius);
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 700px;
		margin: 1.75rem auto;
	}
}
