<div class="footer-social-links">
    <ul class="d-flex">
        {{ range .Site.Params.footer.social }}
        <li>
            <a href="{{ .url }}" alt="{{ .name }}" aria-label="{{ .name }}" title="{{ .name }}" class="donate-link"
                rel="noopener" target="_blank">
                {{ if strings.HasPrefix .params.icon "fa fa" }}
                <em class="{{ .params.icon }}"></em>
                {{ else }}
                {{ partial "helper/icon" .params.icon }}
                {{ end }}
            </a>
        </li>
        {{ end }}
    </ul>
</div>