{{ define "main" }}


{{ .Scratch.Set "title" "PatoJAD Community" }}
{{ .Scratch.Set "description" "Un lugar pensado para vos" }}
{{ .Scratch.Set "image" "https://i.postimg.cc/fTgK0kDj/image.png" }}
{{- partial "generic/breadcrumb.html" . -}}

{{- partial "post/recents.html" . -}}
{{if .Site.Params.friendsSite.enabled}}
{{- partial "generic/friendssite.html" . -}}
{{end}}
{{- partial "generic/services.html" . -}}
{{- partial "generic/team.html" . -}}
{{- partial "generic/community.html" . -}}

{{ end }}