{{ define "main" }}


{{ .Scratch.Set "title" .Site.Params.hero.title }}
{{ .Scratch.Set "description" .Site.Params.hero.subtitle }}
{{ .Scratch.Set "image" .Site.Params.hero.img }}
{{- partial "generic/breadcrumb.html" . -}}

{{- partial "post/recents.html" . -}}

{{ if .Site.Params.friendsSite.enabled }}
{{- partial "generic/friendssite.html" . -}}
{{ end }}

{{- partial "generic/services.html" . -}}

{{if .Site.Params.team.enabled}}
{{- partial "generic/team.html" . -}}
{{ end }}
{{- partial "generic/community.html" . -}}

{{ end }}